extends layout

block content
  #emotes

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js")
  script(src="/lib/jquery-3.1.0.js")
  script(src="/lib/zepto1.2.0.js")
  script(src="/lib/jquery.imgexplode.min.js")
  script(src="javascripts/emotes.js")