extends layout

block content
  #endstream-credits
    .endstream-text
      h1.default-message
        div Thanks a lot to everyone that has been watching! 
        div Hope to see you again next time...      
      if !nothing
        h1 Special Thanks to:
          if !!subscribers.length
            h2 New Subscribers    
            ul
              each val in subscribers
                include endstream-credits-template
          if !!bits.length
            h2 Bits    
            ul
              each val in bits
                include endstream-credits-template
          if !!donations.length
            h2 Donations  
            ul
              each val in donations
                include endstream-credits-template
          if !!followers.length
            h2 New Followers    
            ul
              each val in followers
                include endstream-credits-template
          if !!hosts.length
            h2 Hosts   
            ul
              each val in hosts
                include endstream-credits-template
          if !!raids.length
            h2 Raids   
            ul
              each val in raids
                include endstream-credits-template

    