extends layout

block style
  style(type='text/css').
    body {
      padding: 0;
    }


block content
  #player
    canvas.visualizer

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js")
  script(src="javascripts/player.js")
  
