extends layout

block style 
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

block content
  .social
    i.fab.fa-twitter
    span.name @sorskoot
  .social
    i.fab.fa-youtube
    span.name youtube.com/c/sorskoot
  .social
    i.fab.fa-instagram
    span.name sorskoot360
  .social 
    i.fab.fa-github
    span.name github.com/sorskoot

block script
  script(src="javascripts/social.js")