@import 'variables';
@import 'prestream-ticker';
@import 'endstream-credits';
@import 'alerts';
@import 'social';

body{
  padding: 50px;
  font: 14px $font;
  font-weight: 900;
}

#player-remote{
    color:#FFF;
}


