@keyframes ticker {
  0%, 1% {
    opacity: 0;
    transform: translateX(0px);
    animation-timing-function: cubic-bezier(0, 0, 0, 1); }
  10% {
    opacity: 1;
    transform: translateX(195px);
    animation-timing-function: linear; }
  90% {
    opacity: 1;
    transform: translateX(205px);
    animation-timing-function: cubic-bezier(1, 0, 1, 1); }
  99%, 100% {
    opacity: 0;
    transform: translateX(400px);
    animation-timing-function: linear; } }

#prestream-ticker .ticker-text {
  color: white;
  font-size: 2em;
  animation: ticker 5s infinite; }

@keyframes credits {
  0% {
    transform: rotateY(40deg) translateY(100vh); }
  100% {
    transform: rotateY(40deg) translateY(-130%); } }

body {
  overflow: hidden;
  background-color: black; }

#endstream-credits {
  perspective: 1000px;
  width: 500px; }
  #endstream-credits .default-message {
    padding-bottom: 2em; }
  #endstream-credits .endstream-text {
    transform: rotateY(40deg) translateY(120%);
    color: #fabdfa;
    text-shadow: 0px 0px 4px #ad26ad, 0px 0px 8px #4e0e4e;
    font-size: 1em;
    animation: credits 30s infinite;
    animation-timing-function: linear; }
    #endstream-credits .endstream-text h2 {
      color: #f17cf1;
      font-style: italic; }
    #endstream-credits .endstream-text .user {
      list-style: none;
      padding-bottom: 0.2em;
      font-size: 1.5em;
      display: flex;
      align-items: center; }
      #endstream-credits .endstream-text .user .username {
        line-height: 50px;
        padding-left: 1em; }
      #endstream-credits .endstream-text .user img {
        width: 50px; }

@keyframes fade {
  from {
    opacity: 0; }
  10%, 90% {
    opacity: 1; }
  to {
    opacity: 0; } }

#notification {
  font-family: 'Rasa';
  font-size: 24px; }

.notification-container {
  animation-iteration-count: 1;
  animation: fade 8s;
  opacity: 0; }

.image-container {
  width: 100%;
  height: 100%; }

#notification .image {
  object-fit: contain;
  width: 100%;
  height: 100%; }

.subtitle {
  font-size: 24px;
  color: #FFFFFF; }

.video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

.title {
  color: #FFFFFF; }

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale(0.9); }
  35% {
    opacity: 1;
    transform: translateY(-85%) translateX(-50%) scale(1); }
  65% {
    opacity: 1;
    transform: translateY(-115%) translateX(-50%) scale(1.05); }
  100% {
    opacity: 0;
    transform: translateY(-150%) translateX(-50%) scale(1.1); } }

.text-container {
  position: absolute;
  top: 250px;
  width: 100%;
  animation: text 8s;
  text-align: center;
  text-shadow: 0px 0px 1px #000000, 0px 0px 2px #000000, 0px 0px 3px #000000, 0px 0px 4px #000000, 0px 0px 5px #000000; }
  .text-container .title {
    font-size: 2em; }

.tts {
  display: none; }

.keyword:not(.user_message) {
  color: #71ffb0; }

body {
  background-color: #000;
  margin: 0; }

.fire {
  font-size: 24px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  margin: 3em auto 0 auto;
  position: relative;
  width: 30em;
  height: 12em; }

.particle {
  animation: rise 1.5s ease-in 3;
  background-image: radial-gradient(#00ff50 20%, rgba(13, 80, 27, 0.5) 45%, rgba(255, 251, 0, 0) 70%);
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 8em;
  height: 8em; }
  .particle:nth-of-type(1) {
    animation-delay: 0.68253s;
    left: calc((100% - 8em) * 0); }
  .particle:nth-of-type(2) {
    animation-delay: 0.16013s;
    left: calc((100% - 8em) * 0.02); }
  .particle:nth-of-type(3) {
    animation-delay: 1.14498s;
    left: calc((100% - 8em) * 0.04); }
  .particle:nth-of-type(4) {
    animation-delay: 0.6493s;
    left: calc((100% - 8em) * 0.06); }
  .particle:nth-of-type(5) {
    animation-delay: 1.12484s;
    left: calc((100% - 8em) * 0.08); }
  .particle:nth-of-type(6) {
    animation-delay: 1.36032s;
    left: calc((100% - 8em) * 0.1); }
  .particle:nth-of-type(7) {
    animation-delay: 1.07146s;
    left: calc((100% - 8em) * 0.12); }
  .particle:nth-of-type(8) {
    animation-delay: 0.7129s;
    left: calc((100% - 8em) * 0.14); }
  .particle:nth-of-type(9) {
    animation-delay: 0.12112s;
    left: calc((100% - 8em) * 0.16); }
  .particle:nth-of-type(10) {
    animation-delay: 0.12379s;
    left: calc((100% - 8em) * 0.18); }
  .particle:nth-of-type(11) {
    animation-delay: 1.01525s;
    left: calc((100% - 8em) * 0.2); }
  .particle:nth-of-type(12) {
    animation-delay: 0.93927s;
    left: calc((100% - 8em) * 0.22); }
  .particle:nth-of-type(13) {
    animation-delay: 1.12345s;
    left: calc((100% - 8em) * 0.24); }
  .particle:nth-of-type(14) {
    animation-delay: 0.74824s;
    left: calc((100% - 8em) * 0.26); }
  .particle:nth-of-type(15) {
    animation-delay: 0.87315s;
    left: calc((100% - 8em) * 0.28); }
  .particle:nth-of-type(16) {
    animation-delay: 0.36445s;
    left: calc((100% - 8em) * 0.3); }
  .particle:nth-of-type(17) {
    animation-delay: 0.13582s;
    left: calc((100% - 8em) * 0.32); }
  .particle:nth-of-type(18) {
    animation-delay: 1.39957s;
    left: calc((100% - 8em) * 0.34); }
  .particle:nth-of-type(19) {
    animation-delay: 1.01731s;
    left: calc((100% - 8em) * 0.36); }
  .particle:nth-of-type(20) {
    animation-delay: 0.7764s;
    left: calc((100% - 8em) * 0.38); }
  .particle:nth-of-type(21) {
    animation-delay: 0.09438s;
    left: calc((100% - 8em) * 0.4); }
  .particle:nth-of-type(22) {
    animation-delay: 1.01351s;
    left: calc((100% - 8em) * 0.42); }
  .particle:nth-of-type(23) {
    animation-delay: 0.00009s;
    left: calc((100% - 8em) * 0.44); }
  .particle:nth-of-type(24) {
    animation-delay: 0.64276s;
    left: calc((100% - 8em) * 0.46); }
  .particle:nth-of-type(25) {
    animation-delay: 0.10476s;
    left: calc((100% - 8em) * 0.48); }
  .particle:nth-of-type(26) {
    animation-delay: 1.41937s;
    left: calc((100% - 8em) * 0.5); }
  .particle:nth-of-type(27) {
    animation-delay: 0.15553s;
    left: calc((100% - 8em) * 0.52); }
  .particle:nth-of-type(28) {
    animation-delay: 0.23756s;
    left: calc((100% - 8em) * 0.54); }
  .particle:nth-of-type(29) {
    animation-delay: 0.43677s;
    left: calc((100% - 8em) * 0.56); }
  .particle:nth-of-type(30) {
    animation-delay: 1.15649s;
    left: calc((100% - 8em) * 0.58); }
  .particle:nth-of-type(31) {
    animation-delay: 1.49798s;
    left: calc((100% - 8em) * 0.6); }
  .particle:nth-of-type(32) {
    animation-delay: 0.81464s;
    left: calc((100% - 8em) * 0.62); }
  .particle:nth-of-type(33) {
    animation-delay: 1.03197s;
    left: calc((100% - 8em) * 0.64); }
  .particle:nth-of-type(34) {
    animation-delay: 1.33966s;
    left: calc((100% - 8em) * 0.66); }
  .particle:nth-of-type(35) {
    animation-delay: 1.07348s;
    left: calc((100% - 8em) * 0.68); }
  .particle:nth-of-type(36) {
    animation-delay: 1.02094s;
    left: calc((100% - 8em) * 0.7); }
  .particle:nth-of-type(37) {
    animation-delay: 0.47789s;
    left: calc((100% - 8em) * 0.72); }
  .particle:nth-of-type(38) {
    animation-delay: 1.11266s;
    left: calc((100% - 8em) * 0.74); }
  .particle:nth-of-type(39) {
    animation-delay: 0.39257s;
    left: calc((100% - 8em) * 0.76); }
  .particle:nth-of-type(40) {
    animation-delay: 1.44908s;
    left: calc((100% - 8em) * 0.78); }
  .particle:nth-of-type(41) {
    animation-delay: 0.16474s;
    left: calc((100% - 8em) * 0.8); }
  .particle:nth-of-type(42) {
    animation-delay: 0.7816s;
    left: calc((100% - 8em) * 0.82); }
  .particle:nth-of-type(43) {
    animation-delay: 0.89423s;
    left: calc((100% - 8em) * 0.84); }
  .particle:nth-of-type(44) {
    animation-delay: 0.1284s;
    left: calc((100% - 8em) * 0.86); }
  .particle:nth-of-type(45) {
    animation-delay: 0.95336s;
    left: calc((100% - 8em) * 0.88); }
  .particle:nth-of-type(46) {
    animation-delay: 0.82089s;
    left: calc((100% - 8em) * 0.9); }
  .particle:nth-of-type(47) {
    animation-delay: 1.38068s;
    left: calc((100% - 8em) * 0.92); }
  .particle:nth-of-type(48) {
    animation-delay: 1.48528s;
    left: calc((100% - 8em) * 0.94); }
  .particle:nth-of-type(49) {
    animation-delay: 0.07532s;
    left: calc((100% - 8em) * 0.96); }
  .particle:nth-of-type(50) {
    animation-delay: 1.4374s;
    left: calc((100% - 8em) * 0.98); }

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1); }
  25% {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0); } }

.fab {
  font-family: 'fontawesome';
  font-style: normal; }

.social {
  color: #ffaaff;
  text-shadow: #ffd7ff 0 0 5px, #ffaaff 0 0 25px;
  font-size: 2em;
  position: absolute;
  top: 200px;
  transition: top 0.5s cubic-bezier(0.4, 0, 1, 1); }
  .social .name {
    margin-left: 20px; }
  .social.active {
    top: 0px; }

body {
  padding: 50px;
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 900; }

#player-remote {
  color: #FFF; }

/*# sourceMappingURL=style.css.map */